


 
 
 body {
    margin: 0;
    padding: 0;
    background: rgb(180, 29, 29);
    background-image:url('minato.jpg');
}

.container {
    width: 620px;
    height: 650px;
    background-image:url('minato2.jpg');
    background-size: cover;
    background-position: center;
    border: 7px solid rgba(223, 3, 43, 0.888);
    border-radius: 25px;
    box-shadow: 0 20px 30PX rgb(245, 234, 92);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    margin: 100px auto;
    
}


h1 {
    color: rgb(230, 23, 23);
    
}



.title-line {
    border: none;
    height: 2px;
    background-color: black;  
    width: 2xpx;
    margin: 0 0 15px 0;
}


.quote {
    
     
    padding: 15px;
    margin: 25px 0;
    font-style: roman;
}

.author {
    display: flex;
    align-items: center;
    background: rgba(173, 172, 103, 0);
    padding: 4px;
    border-radius: 3px;
    margin-top: 2px;

}

.aut-img {
    width: 70px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 187, 0, 0);
    color: rgba(201, 195, 195, 0.847);
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.publisher {
    color: rgba(16, 78, 195, 0.56);
}